@import url('https://fontbit.io/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  font-size: 18px;
  font-family: Raleway, sans-serif;
}

a {
  color: #0077aa;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.container {
  padding: 0 10px;
  margin: 60px auto;
  max-width: 650px;
  line-height: 1.6;
}

.underline {
  text-decoration: underline;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

li::before {
  content: '- ';
}

footer {
  display: flex;
  flex: 1;
  border-top: 3px solid #eaeaea;
  justify-content: flex-start;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #26282c;
    color: white;
  }

  a {
    color: #3391ff;
  }
}
