html,
body {
  font-size: 18px;
  font-family: Raleway, sans-serif;
  /* background-color: #26282c;
  color: white; */
}

.dark {
  background-color: #26282c;
  color: white;
}

a {
  color: #0077aa;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

ul {
  list-style-type: none;
}

li::before {
  content: '- ';
}

footer {
  display: flex;
  flex: 1;
  border-top: 3px solid #eaeaea;
  justify-content: flex-start;
}
