.container {
  padding: 0 10px;
  margin: 60px auto;
  max-width: 800px;
  line-height: 1.6;
}

.underline {
  text-decoration: underline;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  cursor: default;
}

.description {
  line-height: 1.3;
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .description {
    font-size: 1rem;
  }

  .container {
    max-width: 650px;
  }
}
